@keyframes move {
  0% {
    transform: none;
  }
  50% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(-80px);
  }
}
.form {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  line-height: 40px;
}
label {
  font-size: 24px;
}
input {
  width: 300px;
  height: 30px;
  border-radius: 5px;
}
button {
  display: block;
  margin: auto auto;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  color: white;
  background-color: aquamarine;
  outline: none;
  border: aquamarine;
  font-size: larger;
  cursor: pointer;
}
.move {
  animation: move 2s infinite;
}
